header {
    position: fixed;
    top:15px;
    left: 0px;
  
    
}
#nav-bar {
    position: fixed;
    top:15px;
    text-decoration: none;
    right:0px;
} 
a {
    text-decoration: none;
    padding: 40px;
    color: black;
}
body {
    background-color:  #eee;
}

a:hover {
    background-color:  #f1c40f;

}
form {
    text-align: center;
    font-size: 25px;
}
#submit {
    background-color:  #f1c40f;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    width:15%;
    

    border-radius: 8px;
}



#container {
    display: grid;
    grid-template-columns: auto auto  ;
    justify-content: center;
    column-gap: 3%;
    
}
.icon {
    color:  #f1c40f;

}
#pricing {
    display: flex;
  justify-content: center;
}
.instrument {
    border: solid black;
    border-radius: 2%;
    text-align: center;
    height: 300px;
    width: 400px;
    margin: 3%;

}
li {
    list-style-type: none;
}
.button {
    background-color: #f1c40f;
    font-weight: 500;
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: initial;
    border-radius: 2px;
    cursor: pointer;

}
#footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 5px;
    
    background-color: rgb(156, 146, 146);
    width: 100%;
    margin: 0;

}
label {
    font-size:  25px;
}


