


.work-img {
    min-height: 200px;
    min-width: 200px; 
    max-width: 300px;
    max-height: 300px;  
 

}
.work-container {
    padding-bottom: 5em;
    

}
.space {
    padding-top: 8%;

}






#work {
    padding-top: 12%;
    padding-bottom: 3%;
  
}
footer {
    background-color: lightgrey;
     
}

#Navbar{
 
  font-size: 19px;
 

}
#work {
    font-size: 27px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/*----media queries----*/

@media  screen and ( max-width : 1199px){

     p {
        font-size: 27px;
    }
    .bg-img {
        height: 800px;
    }
    
   
     

}


@media only screen and ( max-width : 991px){
     p {
        font-size: 25px;
    }
    .bg-img {
        height: 600px;
    }

}
@media only screen and ( max-width : 768px){
     p {
        font-size: 22px;
    }
    .bg-img {
        min-height: 300px;
    }
   
}
@media only screen and ( max-width : 575px){
    p {
        font-size: 15px;
    }
    h5 {
        font-size: 15px;
    }
    .bg-img {
        min-height: 300px;
    }

}
